<!DOCTYPE html>
<html>
<head>
	<title>yande</title>
	<link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>

<%- nobone %>
<script type="text/javascript" src="/main.js"></script>

</body>
</html>
