<!DOCTYPE html>
<html>
<head>
	<title>yande</title>
	<link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>

<h1>yande.re crawler</h1>

<h3 class="left">
	Left: <span></span>
</h3>
<h3 class="tasks">
	Tasks: <span></span>
</h3>
<h3 class="working_tasks">
	Downloading Tasks: <span></span>
</h3>
<h3 class="page">
	Page: <span></span>
</h3>
<h3 class="download_count">
	Download Count: <span></span>
</h3>
<h3 class="duration">
	Duration: <span></span>
</h3>
<h3 class="err">
	Errors: <span></span>
</h3>

<h3>Config</h3>
<pre>
<%- JSON.stringify(conf, null, 4) %>
</pre>

<%- nobone %>
<script type="text/javascript" src="/main.js"></script>

</body>
</html>
