<!DOCTYPE html>
<html>
<head>
	<title>yande</title>
	<link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>


<h2 class="left">
	Left: <span></span>
</h2>
<h2 class="tasks">
	Tasks: <span></span>
</h2>
<h2 class="working_tasks">
	Downloading Tasks: <span></span>
</h2>
<h2 class="page">
	Page: <span></span>
</h2>
<h2 class="download_count">
	Download Count: <span></span>
</h2>
<h2 class="duration">
	Duration: <span></span>
</h2>
<h2 class="err">
	Errors: <span></span>
</h2>

<%- nobone %>
<script type="text/javascript" src="/main.js"></script>

</body>
</html>
