<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/viewer.css">
	<title>Viewer</title>
</head>
<body>

<div id="main">
	<div class="help">
		<h4>Help</h4>
		<ul>
			<li>Single click to show info box.</li>
			<li>Double click to open new page.</li>
			<li>
				To Change list column number to N, visit link like <code>'/viewer/?col=N'</code>
			</li>
		</ul>
	</div>
	<div class="img_list_view">
	</div>

	<div id="tools">
		<a class="open" target="_blank">open</a>
		<!-- <a class="download" target="_blank" href="/">origin</a> -->
	</div>

	<div id="img-show">
		<div id="post-info">
			<div class="wrap">
				<table></table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/q.js"></script>
<script type="text/javascript" src="/lodash.js"></script>
<script type="text/javascript" src="/viewer.js"></script>

</body>
</html>