<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/viewer.css">
	<title>Viewer</title>
</head>
<body>

<div id="main">
	<div class="img_list_view">
	</div>
</div>

<%- nobone %>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/infinity.min.js"></script>
<script type="text/javascript" src="/viewer.js"></script>

</body>
</html>