<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>

<h1>yande.re crawler</h1>

<h3>
	<a href="/viewer">Open Viewer</a> |
	<button class="reload_post_db">Reload Post Database</button>
	<button class="unload_post_db">Unload Post Database</button>
</h3>

<table>
	<tr>
		<td>Proxy</td>
		<td class="proxy">
			<%= conf.proxy || 'Use System' %>
		</td>
	</tr>
	<tr>
		<td>Task Left</td>
		<td class="left"></td>
	</tr>
	<tr>
		<td>Scheduled Tasks</td>
		<td class="tasks"></td>
	</tr>
	<tr>
		<td>Threads</td>
		<td class="working_tasks"></td>
	</tr>
	<tr>
		<td>Page</td>
		<td class="page"></td>
	</tr>
	<tr>
		<td>Downloaded</td>
		<td class="download_count"></td>
	</tr>
	<tr>
		<td>Duration</td>
		<td class="duration"></td>
	</tr>
	<tr>
		<td>Errors</td>
		<td class="err"></td>
	</tr>
	<tr>
		<td>Mem Usage</td>
		<td class="mem_usage"></td>
	</tr>
	<tr>
		<td>Last Download</td>
		<td>
			<img class="last_download">
		</td>
	</tr>
</table>

<script type="text/javascript" src="/main.js"></script>

</body>
</html>
