<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/token-input.css">
	<link rel="stylesheet" type="text/css" href="/token-input-mac.css">
	<link rel="stylesheet" type="text/css" href="/viewer.css">
	<title>Viewer</title>
</head>
<body>

<div id="main">
	<form id="dashboard" action="/viewer">
		<label>
			Tags
			<input class="tags" name="tags" type="text">
		</label>
		<label>
			Ratings
			<input class="ratings n" name="ratings" type="text" placeholder='any of "eqs"' title='any of "eqs"'>
		</label>
		<label>
			Score
			<input class="score n" name="score" type="number" min='0' max='1000000'>
		</label>
		<label>
			Page
			<input class="page n" name="page" type="number" min='0' max='1000000'>
		</label>
		<label>
			Columns
			<input class="col n" name="col" type="number" min='1' max='30'>
		</label>
		<input type="submit" class="n" value="search">
	</form>

	<div class="img_list_view">
	</div>

	<div id="tools">
		<a class="open" target="_blank">open</a>
		<!-- <a class="download" target="_blank" href="/">origin</a> -->
	</div>

	<div id="img-show">
		<div id="post-info">
			<div class="wrap">
				<table></table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/q.js"></script>
<script type="text/javascript" src="/lodash.js"></script>
<script type="text/javascript" src="/viewer.js"></script>

</body>
</html>